.list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Lato", Arial, sans-serif;
    }
}
